/* Sidebar.js */
.mainContainer
{
  display: flex;
}

.sideBar
{
  background-color: white;
  width: 20%;
  height: 100vh;
  border-right: 1px solid black;
}

.sideBar a:hover
{
  color: #b58a51;
}

.other
{
  
  width: 100%;
}

.brandBorder
{
  border-bottom: 1px solid black;
  width: 100%;
}