/* Sidebar.js */
.mainContainer
{
  display: flex;
}

.sideBar
{
  background-color: whitesmoke;
  width: 20%;
  height: 100vh;
  border-right: 1px solid black;
  color: darkslategray;
}

.sideBar a:hover
{
  color: #b58a51;
}

.other
{
  width: 75%;
}

.dashboard
{
  width: 100%;
  text-align: center;
}

/* Dashboard */
.app
{
  text-align: -webkit-center;
}